<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="style.js")
        script(src="bootstrap.js")
        title Vue Test App
    body
        block content
        script(src="app.js")